.App {
  /* text-align: center; */
}

.page {
  padding: 1rem;
}

.App-logo {
  /* height: 40vmin; */
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 1rem;
}

a {
  color: blue;
}

nav a {
  color: lightblue;
}

.flex {
  display: flex;
}

.search input {
  flex-grow: 1;
}
